.container
  %h1 Results for #{@q}
  = link_to('search again', [:new, :book_search])
%ul
  -if @result.nil? 
    %p no results
  -else
    -@result.each do |r|
      %li= r[:title]
      %ul
        %li= 'author: ' + r[:author]
        %li= 'ISBN: ' + r[:isbn]
      %img{src: "http://covers.openlibrary.org/b/id/#{r[:cover_id]}-M.jpg"}